
// /*  variables */

$color1: rgba(0, 0, 0, 0.7);
$color2: rgb(255, 83, 83);
$color3: silver;
$color4: gray;
$color5: white;

//  /*  import     */

@import "_html";
@import "_header";
@import "_nav";
@import "_section";
@import "_footer";
