@import "_extend";
@import "_mixin";

.navegacion{        
    @include border-style(30px, 3px solid $color3, $color2);
    font-size: 2em;
    margin: 5px 10px 5px 10px;
    padding: 0px 10px 0px;
    div{ 
        display: inline-block;
        position: relative;
        button{
            display: inline-block;
            position: relative;
            margin: 10px;
        }
        .navbar-collapse{
            flex-basis: 0%;
            ul{
                display: inline-block;
                position: relative;
                li{
                    display: inline-block;
                    position: relative;
                    margin: 5px;
                    a{
                        color: $color1;
                        padding: 0px 5px;
                        font-size: 1em;  
                    }
                    a:hover {
                        @extend %redes-hover;
                        border-color: $color3;
                        padding: 0px 5px;
                        border-radius: 10px;
                    }
                    ul{
                        @include border-style(30px, 3px solid $color3, $color2);
                        display: none;
                        position: absolute;
                        margin: 0px;
                        z-index: 3;
                        li{
                            display: block;
                            text-align: left;
                            width: 150px;
                        }
                    }
                    @media (max-width: 425px){
                        ul{
                            @include border-style(0px, 0px solid $color3, $color2);
                            display: inline-block;
                            position: relative;
                            padding: 0px 15px;
                            font-size: 0.7em;
                            li{
                                display: block;
                                text-align: relative;
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
        .links2{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            a{
                @extend %redes-position;
            }
            a:hover {
                @extend %redes-hover;
            }
        }
    }

}

.menu li:hover .submenu{
    display: block;
}
